* {
  margin: 0.2rem;
  padding: 0;
  box-sizing: border-box;
}
button {
  border-style: outset;
  padding: 5px;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
  margin-left: .5rem;
}

.keg {
  background: whitesmoke;
  border: solid 1px goldenrod;
  width: 32rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
  transition: all 0.3s linear;
}

.keg:hover {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}

.img {
  padding: .5rem;
}

.description {
  padding: 1rem 0.5rem;
  border-style: double;
  border-color: goldenrod;
}

.keg h4 {
  text-transform: capitalize;
  margin: 0.5rem 0;
  letter-spacing: 0.15rem;
  color: rgb(21, 121, 121);
}

@media screen and (min-width: 768px) {
  .keg-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .keg-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
