* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  border-style: outset;
  padding: 5px;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: lightyellow;
}

.keg {
  background: #eeeeee;
  width: 22rem;
  margin-left: 20px;
  padding: 1rem;
  margin: 2rem auto;
  border-radius: 1rem;
  text-align: center;
  transition: all 0.3s linear;
}
.keg:hover {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}

/* .keg img {
  border-radius: 10%;
  border-right: 0.1rem solid teal;
} */

.description {
  border-radius: 5%;
  background-color: white;
  padding: 4px;
  border-left: solid 1px black;
}

h1 {
color: rgb(241, 175, 6); 
font-family: cursive
}
.keg h4 {
  text-transform: capitalize;
  margin: 0.5rem 0;
  letter-spacing: 0.15rem;
  color: teal;
}

@media screen and (min-width: 768px) {
  .keg-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .keg-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
